<div class="modal fade w-100"
     id="fullImageModal"
     tabindex="-1"
     aria-labelledby="fullImageModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img class="w-100" src="{{ message.image.url }}"/>
            </div>
        </div>
    </div>
</div>
