<div class="row">
    <div class="col p-2 border-top"> 

        {# Copyright #}
        <div class="small pb-2 text-center">
            <div>
                Copyright © 2023 
            </div>
            <div>
                Dimitri Dorn, Julian Müller, Nico Isheim, Maximilian Steinberg, Michael Sievers
            </div>
        </div>
       
        {# Links #}
        <div class="d-flex">
            <div class="d-flex gap-2 m-auto px-4 pt-2 border-top border-2">
                <div><a href="{% url 'core:legal_disclosure' %}">Impressum</a></div>
                <div>|</div>
                <div><a href="{% url 'core:privacy' %}">Datenschutz</a></div>
                <div>|</div>
                <div><a href="{% url 'core:cookie_disclosure' %}">Cookie-Erklärung</a></div>
            </div>
        </div>
        
    </div>
</div>