<ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
        <button type="button" class="btn btn-dark w-100" >
            <div class="d-flex">
                <i class="bi bi-house my-auto"></i>
                <div class="ps-2">Test</div>
            </div>
        </button>
    </li>
    <li class="nav-item pt-2">
        <button type="button" class="btn btn-dark w-100" >
            <div class="d-flex">
                <i class="bi bi-house my-auto"></i>
                <div class="ps-2">Test-Long</div>
            </div>
        </button>
    </li>
</ul>