{% load i18n %}
<div class="modal fade"
     id="search-results-modal"
     tabindex="-1"
     aria-labelledby="search-results-modal-title"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="search-results-modal-title">{% trans "Suchergebnisse" %}</h1>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table align-middle mb-0">
                        <tbody id="search-results-list">
                            <!-- Search results will be dynamically populated here -->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-outline-primary ms-auto"
                        data-bs-dismiss="modal">{% trans "Schließen" %}</button>
            </div>
        </div>
    </div>
</div>
