{% load i18n %}
{% if True %}
    <div class="col-auto">
        <button class="btn btn-link h-100 pe-0 position-relative" type="button">
            <i class="bi bi-bell-fill fs-5 position-absolute"></i>
            <span class="translate-middle badge rounded-pill bg-danger start-100"
                {# TODO: WERT #}>7</span>
            </button>
        </div>
    {% else %}
        <div class="col-auto">
            <button class="btn btn-link h-100 pe-0 position-relative" type="button">
                <i class="bi bi-bell-fill fs-5"></i>
            </button>
        </div>
    {% endif %}
    <div class="col-auto">
        <div class="dropdown">
            <button class="btn btn-link h-100 ps-0"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                <img class="logo-fs-3"
                     src="{{ request.user.userprofileinfo.get_profile_pic }}">
            </button>
            <ul class="dropdown-menu">
                <li class="text-center">
                    <p class="my-2 text-body-emphasis fw-bold">{{ request.user.first_name }} {{ request.user.last_name }}</p>
                </li>
                <li>
                    <a class="dropdown-item"
                       href="{% url 'user_app:profile' request.user.username %}"><i class="bi bi-person-fill pe-2"></i>{% trans "Profil" %}</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'core:qaa' %}"><i class="bi bi-info-circle pe-2"></i>{% trans "Hilfe" %}</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'settings_app:overview' %}"><i class="bi bi-gear pe-2"></i>{% trans "Einstellungen" %}</a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a class="dropdown-item text-danger-emphasis"
                       href="{% url 'user_app:logout' %}"><i class="bi bi-box-arrow-in-left pe-2"></i>{% trans "Abmelden" %}</a>
                </li>
            </ul>
        </div>
    </div>
