{% load i18n %}
{% if True %}
    <div class="col-auto">
        <div class="dropdown">
            <button class="btn btn-link h-100 pe-0 position-relative"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    id="notificationButton">
                <i class="bi bi-bell-fill fs-5 position-absolute"></i>
            </button>
            <ul class="dropdown-menu" id="dropdownMenu">
                <button class="dropdown-item btn btn-danger h-100 d-flex justify-content-center"
                        id="deleteButton">
                    <i class="bi bi-trash"></i>
                </button>
            </ul>
        </div>
    </div>
{% else %}
    <div class="col-auto">
        <button class="btn btn-link h-100 pe-0 position-relative" type="button">
            <i class="bi bi-bell-fill fs-5"></i>
        </button>
    </div>
{% endif %}
<div class="col-auto">
    <div class="dropdown">
        <button class="btn btn-link h-100 ps-0"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            <img class="logo-fs-3"
                 src="{{ request.user.userprofileinfo.get_profile_pic }}">
        </button>
        <ul class="dropdown-menu">
            <li class="text-center">
                <p class="my-2 text-body-emphasis fw-bold">{{ request.user.first_name }} {{ request.user.last_name }}</p>
            </li>
            <li>
                <a class="dropdown-item"
                   href="{% url 'user_app:profile' request.user.username 0 %}"><i class="bi bi-person-fill pe-2"></i>{% trans "Profil" %}</a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'core:qaa' %}"><i class="bi bi-info-circle pe-2"></i>{% trans "Hilfe" %}</a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'settings_app:userSettings' %}"><i class="bi bi-gear pe-2"></i>{% trans "Einstellungen" %}</a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <a class="dropdown-item text-danger-emphasis"
                   href="{% url 'user_app:logout' %}"><i class="bi bi-box-arrow-in-left pe-2"></i>{% trans "Abmelden" %}</a>
            </li>
        </ul>
    </div>
</div>
<script>
        const openDropdownButton = document.getElementById('notificationButton');
        const dropdown = document.getElementById('dropdownMenu');
        const deleteButton = document.getElementById('deleteButton')

        let websocket;
    
        var loc = window.location
        var wsStart = "ws://"
        if (loc.protocol == "https:"){
            wsStart = "wss://"
        }
        var webSocketEndpoint =  wsStart + loc.host + '/notifications/'  // ws : wss   // Websocket URL, Same on as mentioned in the routing.py
    
        websocket = new WebSocket(webSocketEndpoint);
        let messages = [];
        
        websocket.onmessage = function(e){
            messages = []
            const messageObject = JSON.parse(e.data)
            console.log(messageObject)
            if(messageObject.type === "websocket.all_notifications"){
            
                const notifications = messageObject.notifications
            
                for(let key in notifications){
                    messages.push(notifications[key].message)
                }
                
            }
        }

        openDropdownButton.addEventListener('click', () => {
            removeAllItems(dropdown)


            messages.forEach((notification) => {
                const listItem = document.createElement('li');
                listItem.classList.add('dropdown-item');
                listItem.classList.add('items');

                const text = document.createElement('p')
                const node = document.createTextNode(notification);
                text.appendChild(node)
                listItem.appendChild(text);

                const divider = document.createElement('hr')
                divider.classList.add('dropdown-divider')
                listItem.appendChild(divider)

                dropdown.insertBefore(listItem, dropdown.firstChild)
            })
        })

        deleteButton.addEventListener('click', () => {
            websocket.send("deleteAllNotifications")
        })

        function removeAllItems(parent) {
            const items = document.querySelectorAll('.items')
            items.forEach(item => item.remove());
        }
        
</script>
