{% autoescape off %}
    Sehr geehrter {{ user.get_username }},
    um den Prozess zum Zurücksetzen des Passworts für den Benutzer unter der E-Mail Adresse {{ user.email }} zu starten, klicken Sie bitte auf den folgenden Link:
    {{ protocol }}://{{ domain }}{% url 'user_app:password_reset_confirm' uidb64=uid token=token %}
    Sollte der Link nicht funktionieren, kopieren Sie diesen stattdesseb in die Adresszeile Ihres Browsers.
    Mit freundlichen Grüßen
    Ihr Sociofolio Team
{% endautoescape %}
