{% extends 'core/base.html' %}
{% block content %}
    <h1>Inbox</h1>
    <h2>Chats:</h2>

    <div class="d-flex">
        <div class="container mt-5">
            <div class="d-flex justify-content-center row">
                <div class="col-md-5">
                    <div class="p-3 text-center">
                        {% for participant in participants %}
                        <div class="d-flex flex-row justify-content-between align-items-center mt-3">
                            <div class="d-flex flex-row align-items-center">
                                <a href="{% url 'messaging_app:inbox_chat' participant.participant.username %}">
                                <img class="rounded-circle" src="{{participant.participant_pic}}" width="55">
                                <div class="d-flex flex-column align-items-start ml-3">
                                    <p>{{ participant.participant.username }}</p>
                                </div>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        {% if chatOpen %}
        <div class="container mt-5">
            <div class="d-flex justify-content-center row">
                <div class="col-md-5">
                    <div class="p-3 text-center">
                        {% for message in messages %}
                            {% if message.from_user_id == user.id %}
                                <p class="d-flex justify-content-end">{{ message.message }}</p>
                                <p style="font-size: 11; margin-top: -20;"class="d-flex justify-content-end">{{ message.created_at }}</p>
                            {% else %}
                                <p class="d-flex justify-content-start">{{ message.message }}</p>
                                <p style="font-size: 11; margin-top: -20;" class="d-flex justify-content-start">{{ message.created_at }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <form method="POST">
                        {%  csrf_token %}
                        {{ form.as_p }}
                        <input type="Submit" name="comment"/>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

{% endblock content %}