{% extends "settings_app/settingsOverview.html" %}
{% load i18n %}
{% block settings_title %}
    {% trans "Benachrichtigungseinstellungen" %}
{% endblock settings_title %}
{% block class_selector_notification %}
    chat-user-entry-selected
{% endblock class_selector_notification %}
{% block settings %}
    <div class="form-check form-switch">
        <label for="{{ form.hasAssetAmountChanged.id_for_label }}"
               class="form-label ms-2">Veränderung der Assetmenge</label>
        {{ form.hasAssetAmountChanged }}
    </div>
    <div class="form-check form-switch">
        <label for="{{ form.hasNewFollower.id_for_label }}" class="form-label ms-2">Neuer Follower</label>
        {{ form.hasNewFollower }}
    </div>
    <div class="form-check form-switch">
        <label for="{{ form.hasLikedPost.id_for_label }}" class="form-label ms-2">Beitrags Like</label>
        {{ form.hasLikedPost }}
    </div>
    <div class="form-check form-switch">
        <label for="{{ form.hasLikedComment.id_for_label }}" class="form-label ms-2">Kommentar Like</label>
        {{ form.hasLikedComment }}
    </div>
    <div class="form-check form-switch">
        <label for="{{ form.hasNewComment.id_for_label }}" class="form-label ms-2">Neuer Kommentar</label>
        {{ form.hasNewComment }}
    </div>
    <div class="form-check form-switch">
        <label for="{{ form.hasSharedPost.id_for_label }}" class="form-label ms-2">Beitrag geteilt</label>
        {{ form.hasSharedPost }}
    </div>
{% endblock settings %}
