{% extends 'core/base.html' %} {% block content %}
<div class="container">
    <h1 class="text-center mb-5">Portfolioeinstellungen</h1>
    <div class="card">
        <div class="card-body">
            <form method="POST" class="ps-5 pe-5 pt-2">
                {% csrf_token %}
                {{form.as_p}}
                <div class="d-flex justify-content-end gap-3">
                    <button type="submit" class="btn btn-success">
                        Speichern
                    </button>
                    <a href="{% url 'settings_app:overview' %}" class="btn btn-danger">Zurück</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}