{% extends "settings_app/settingsOverview.html" %}
{% load i18n %}
{% block settings_title %}
    {% trans "Sicherheitseinstellungen" %}
{% endblock settings_title %}
{% block class_selector_security %}
    chat-user-entry-selected
{% endblock class_selector_security %}
{% block url %}
    {% url "settings_app:security_settings_update" %}
{% endblock url %}
{% block settings %}
    <div>
        <label for="{{ form.posts_privacy_setting.id_for_label }}"
               class="form-label">Posts</label>
        {{ form.posts_privacy_setting }}
    </div>
    <div>
        <label for="{{ form.watchlist_privacy_setting.id_for_label }}"
               class="form-label">Watchlist</label>
        {{ form.watchlist_privacy_setting }}
    </div>
    <div>
        <label for="{{ form.dashboard_privacy_setting.id_for_label }}"
               class="form-label">Dashboard</label>
        {{ form.dashboard_privacy_setting }}
    </div>
{% endblock settings %}
