{% extends 'core/base.html' %} {% block content %}
<div class="container">
  <h1>Benutzereinstellungen</h1>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label for="username" class="form-label">Benutzername</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        value="{{ user.username }}"
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">E-Mail</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        value="{{ user.email }}"
      />
    </div>
    <div class="mb-3">
      <label for="first_name" class="form-label">Vorname</label>
      <input
        type="text"
        class="form-control"
        id="first_name"
        name="first_name"
        value="{{ user.first_name }}"
      />
    </div>
    <div class="mb-3">
      <label for="last_name" class="form-label">Nachname</label>
      <input
        type="text"
        class="form-control"
        id="last_name"
        name="last_name"
        value="{{ user.last_name }}"
      />
    </div>
    <div class="mb-3">
      <label for="picture" class="form-label">Profilbild</label>
      <input type="file" class="form-control" id="picture" name="picture" />
    </div>
    <button type="submit" class="btn btn-primary">
      Einstellungen speichern
    </button>
  </form>
</div>
{% endblock content %}
