{% extends "settings_app/settingsOverview.html" %}
{% load i18n %}
{% block settings_title %}
    {% trans "Anzeigeeinstellungen" %}
{% endblock settings_title %}
{% block class_selector_view %}
    chat-user-entry-selected
{% endblock class_selector_view %}
{% block url %}
    {% url "set_language" %}
{% endblock url %}
{% block settings %}
    <div>
        <label for="{{ form.language.id_for_label }}" class="form-label">{% trans "Sprache" %}</label>
        {{ form.language }}
    </div>
{% endblock settings %}
