{% extends "settings_app/settingsOverview.html" %}
{% load i18n %}
{% block settings_title %}
    {% trans "Anzeigeeinstellungen" %}
{% endblock settings_title %}
{% block class_selector_view %}
    chat-user-entry-selected
{% endblock class_selector_view %}
{% block settings %}
    <div>
        <label for="themeSelector" class="form-label">{% trans "Theme" %}</label>
        <select class="form-control" id="themeSelector">
            <option>{% trans "Hell" %}</option>
            <option>{% trans "Dunkel" %}</option>
        </select>
    </div>
    <div>
        <label for="language" class="form-label">{% trans "Sprache" %}</label>
        <select class="form-control" id="language">
            <option>{% trans "Deutsch" %}</option>
            <option>{% trans "Englisch" %}</option>
        </select>
    </div>
    {# Temporäres Dropdown Menü Sprache #}
    {% comment %} <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Sprache</button>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" href="{% url 'settings_app:language_change' 'en_us' %}">Englisch</a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'settings_app:language_change' 'de' %}">Deutsch</a>
            </li>
        </ul>
    </div> {% endcomment %}
{% endblock settings %}
