{% load i18n %}
<div class="modal fade"
     id="profileBannerModal"
     tabindex="-1"
     aria-labelledby="profileBannerModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="profileBannerModalLabel">{% trans "Banner anpassen" %}</h1>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <form action="{% url 'user_app:update_userbanner' banner_id %}"
                  method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        {% for banner in banners %}
                            <div class="col-6 my-2 align-items-center" style="height: 10vh">
                                <div class="form-check form-check-inline">
                                    {% if banner.0 == current_banner %}
                                        <input class="form-check-input"
                                               type="radio"
                                               name="profile_banner"
                                               id="{{ banner.1 }}"
                                               value="{{ banner.0 }}"
                                               checked>
                                    {% else %}
                                        <input class="form-check-input"
                                               type="radio"
                                               name="profile_banner"
                                               id="{{ banner.1 }}"
                                               value="{{ banner.0 }}">
                                    {% endif %}
                                    <label class="form-check-label ms-2" for="{{ banner.1 }}">
                                        <img src="{{ banner.0 }}" class="w-100 h-100">
                                    </label>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer pb-0">
                    <button type="button"
                            class="btn btn-outline-secondary me-auto"
                            data-bs-dismiss="modal">{% trans "Abbrechen" %}</button>
                    <button type="submit" class="btn btn-outline-primary">{% trans "Änderungen speichern" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
