<div class="modal fade"
     id="profileBannerModal"
     tabindex="-1"
     aria-labelledby="profileBannerModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="profileBannerModalLabel">Banner anpassen</h1>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <form action="{% url 'user_app:update_userbanner' banner_id %}"
                  method="post">
                {% csrf_token %}
                <div class="modal-body">
                    {% for banner in banners %}
                    <div class="form-check">
                            <input class="form-check-input" type="radio" name="profile_banner" id="{{ banner }}" value="{{ banner }}">
                            <label class="form-check-label" for="{{ banner }}">
                                {{ banner }}
                            </label>
                    {% endfor %}
                    </div>
                    {% comment "" %}
                    <div class="input-group">
                        <input type="file"
                               class="form-control"
                               id="id_profile_pic"
                               aria-describedby="inputGroupFileAddon04"
                               aria-label="Upload"
                               name="profile_banner" />
                    </div>
                    {% endcomment %}
                </div>
                <div class="modal-footer pb-0">
                    <button type="button"
                            class="btn btn-secondary me-auto"
                            data-bs-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-outline-primary">Änderungen speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>
