{% load i18n %}
<div class="modal fade"
     id="profileImageModal"
     tabindex="-1"
     aria-labelledby="profileImageModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="profileImageModalLabel">{% trans "Profilbild anpassen" %}</h1>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <form action="{% url 'user_app:update_userprofile' profile_id %}"
                  method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="input-group">
                        <input type="file"
                               class="form-control"
                               id="id_profile_pic"
                               aria-describedby="inputGroupFileAddon04"
                               aria-label="Upload"
                               name="profile_pic" />
                    </div>
                </div>
                <div class="modal-footer pb-0">
                    <button type="button"
                            class="btn btn-outline-secondary me-auto"
                            data-bs-dismiss="modal">{% trans "Abbrechen" %}</button>
                    <a href="{% url 'user_app:delete_userprofile' profile_id %}"
                       class="btn btn-outline-danger">{% trans "Profilbild löschen" %}</a>
                    <button type="submit" class="btn btn-outline-primary">{% trans "Änderungen speichern" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
