{% load i18n %}
{% load core_tags %}
<tr class="align-middle">
    <td class="text-center">
        <a href="{% url 'dashboard_app:asset' asset.name 0 %}">
            <img src="{{ asset.imageUrl }}" class="logo-fs-3" />
        </a>
    </td>
    <td class="text-start">
        <a class="btn btn-link p-0"
           href="{% url 'dashboard_app:asset' asset.name 0 %}">{{ asset.name }}</a>
    </td>
    <td class="text-start">
        <a class="btn btn-link p-0"
           href="{% url 'dashboard_app:asset' asset.name 0 %}">{{ asset.coinName }}</a>
    </td>
    <td class="text-start">
        <a class="btn btn-link p-0"
           href="{% url 'dashboard_app:asset' asset.name 0 %}">{{ asset.price|to_locale_valuta }}</a>
    </td>
    <td class="text-center">
        <a href="{% url 'dashboard_app:watchlist_add' asset.name %}">
            {% if asset.isInWatchlist %}
                <i class="bi bi-star-fill"></i>
            {% else %}
                <i class="bi bi-star"></i>
            {% endif %}
        </a>
    </td>
</tr>
