<script>
    var totalWorth = document.getElementById('totalWorth')
    var paid = document.getElementById('paid')
    var invested = document.getElementById('invested')
    var tax = document.getElementById('tax')
    var charges = document.getElementById('charges')
    var gains = document.getElementById('gains')
    var profit = document.getElementById('profit')
    var totalValue = JSON.parse(document.getElementById('totalValue').textContent);
    var investedVal = JSON.parse(document.getElementById('investedVal').textContent);
    var taxVal = JSON.parse(document.getElementById('taxVal').textContent);
    var chargesVal = JSON.parse(document.getElementById('chargesVal').textContent);
    var currency = "€"
    totalWorth.innerText = "Portfoliowert: " + totalValue +currency
    paid.innerText = "bezahlt: " + (investedVal + taxVal + chargesVal) + currency
    invested.innerText = "investiert: " + investedVal + currency
    tax.innerText = "tax: " + taxVal + "€"
    charges.innerText = "charges: " + chargesVal + currency
    gains.innerText = "Kursgewinne: " + (totalValue - investedVal) + currency
    profit.innerText = "Profit: " + (totalValue - (investedVal + taxVal + chargesVal))+ currency
</script>