<script>
    var assets = document.getElementById('assetsList')
    var label = JSON.parse(document.getElementById('assetList').textContent);
    var data = JSON.parse(document.getElementById('valueList').textContent);
    var amounts = JSON.parse(document.getElementById('amounts').textContent);
    var assetValues = JSON.parse(document.getElementById('assetValues').textContent);

    for(i = 0; i<label.length; ++i){
        let p = document.createElement("p")
        p.innerText = label[i] + " Menge: " + amounts[i] + " Preis: " + assetValues[i] + " Gesamtwert: " + data[i]
        assets.appendChild(p)
    }
        
    
</script>