<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <h1>THIS IS THE API</h1>
    <h2>Selected Crypto: {{ crypto|json_script:'crypto' }}</h2>
    <h2>Selected Currency: {{ currency }}</h2>
    <h2>Current Price of {{ crypto }} in {{ currency }}:</h2>
    <h2>Historical Price of {{ crypto }} in {{ currency }} on {{ historicalDate }}: {{ historicalPrice }}</h2>
    <div style="width:50%">
        <canvas id="myChart" ></canvas>
        {{ value|json_script:'value' }}
      </div>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      const ctx = document.getElementById('myChart');
      var dataValues = JSON.parse(document.getElementById('value').textContent);
      var cryptoName = JSON.parse(document.getElementById('crypto').textContent);

      const labels = ["Januar", "Februar", "März", "April", "Mai", "Juni", "Juli", "August", "September", "Oktober", "November", "Dezember"]
        const data = {
                        labels: labels,
                        datasets: [{
                            label: cryptoName,
                            data: dataValues,
                            fill: false,
                            borderColor: 'rgb(75, 192, 192)',
                            tension: 0.1
                        }]
                        };
                        const config = {
                  type: 'line',
                  data: data,
                };
        new Chart(ctx, {
          type: 'line',
          data: data,
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
    </script>
</body>
</html>