{% extends "core/base.html" %}
{% load community_tags %}
{% load i18n %}
{% block title %}
  | Community
{% endblock title %}
{% block content %}


  <h1>API-Admin Panel</h1>
  <div class="d-flex flex-row">
    <div class="container">
      <h4>Historische Coin Daten hinzufügen</h3>
      <form method="POST">
        {% csrf_token %}
        {{addAssetDataForm.as_p}}
        <button type="submit" class="btn btn-info">Anfrage Senden</button>
      </form>
    </div>
    <div class="container">
      <h4>Coin hinzufügen</h3>
      <form action="{% url 'api_app:addCoin' %}" method="POST">
        {% csrf_token %}
        {{ addCoinForm.as_p }}
        <button type="submit" class="btn btn-info">Anfrage Senden</button>
      </form>
    </div>
    <div class="container">
      <h4>Unterstützte Coins in Datenbank</h4>
        <div class="list-group overflow-auto" style="height:33vh;">
          {% for coin in coins %}
            
            <p><img src="{{coin.imageUrl}}" style="height:25px; width:25px;"> {{ coin.name }} : {{ coin.coinName }}</p>
          {% endfor %}
        </div>
      <h4 style="margin-top: 1vh;">Unterstützte Währungen</h4>
        <div class="list-group overflow-auto" style="height:33vh;">
          <p>Euro : EUR</p>
        </div>
    </div>
    <div class="container">
      <h4>Währung hinzufügen Konsole</h4>
      <div class="list-group overflow-auto" style="height:50vh;">
        {% for message in addAssetDataMessages %}
        <p style="margin: 0px;">{{ message }}</p>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock content %}