{% load static %}
{% load core_tags %}
<html lang="de" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% comment %}
            serve files from static storage
            https://docs.djangoproject.com/en/4.1/howto/static-files/
        {% endcomment %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
        <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        {% comment %}
    TODO: ADD TO STATIC
        {% endcomment %}
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
        <title>PMS
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body class="container-fluid h-100 ">
        <div class="d-flex flex-column h-100">
            {# Header #}
            {% block header %}
                <div class="row justify-content-between p-2 border-bottom">
                    {# Mobile navigation toggle #}
                    <div class="col-auto d-md-none">
                        <button type="button"
                                class="btn btn-dark h-100"
                                data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvas"
                                aria-controls="offcanvas">
                            <i class="bi bi-list fs-3"></i>
                        </button>
                    </div>
                    {% logo_name %}
                    {# Search #}
                    <div class="col my-auto d-none d-md-block">{% search 60 %}</div>
                    {% user_menu request %}
                </div>
            {% endblock header %}
            {# View #}
            <div class="row row-cols-1 row-cols-md-2 flex-grow-1">
                {# Desktop navigation #}
                <div class="d-none d-md-flex col-md-auto border-end p-4">{% navigation %}</div>
                {# Content #}
                <div class="col d-flex flex-column flex-grow-1">
                    <div class="row flex-grow-1 p-4 bg-body-secondary">
                        <div class="col m-0 p-0">
                            {% block content %}
                                content
                            {% endblock content %}
                        </div>
                    </div>
                    {% footer %}
                </div>
            </div>
            {# Mobile navigaiton #}
            <div class="offcanvas offcanvas-start"
                 tabindex="-1"
                 id="offcanvas"
                 aria-labelledby="offcanvasLabel">
                <div class="offcanvas-header">
                    {% logo_name %}
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    {% search 100 %}
                    <div class="pt-4"></div>
                    {% navigation %}
                </div>
            </div>
        </div>
    </body>
</html>
