{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% comment %}
        serve files from static storage
        https://docs.djangoproject.com/en/4.1/howto/static-files/
    {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>

    <title>Document</title>
</head>
<body class="container-fluid h-100 ">
    <div class="d-flex flex-column h-100">

        {% block header %}
        <div class="row justify-content-between" style="background-color: grey;">
            <div class="col-auto d-md-none">
                BTN
            </div>

            <div class="col-auto">
                Logo
            </div>
            <div class="col">
                Search
            </div>
            <div class="col-auto">
                User
            </div>
        </div>
        {% endblock header %}

        <div class="row row-cols-1 row-cols-md-2 flex-grow-1">

            {% comment %}
                display navigation as "offcanvas" element on sm-devices
            {% endcomment %}
            <div class="d-none d-md-flex col-md-auto " style="background-color: lightblue;">
                {% block navigation %}
                navigation
                {% endblock navigation %}
            </div>

            <div class="col d-flex flex-column flex-grow-1">
                <div class="row flex-grow-1">
                    <div class="col" style="background-color: orange">
                        {% block content %}
                        content
                        {% endblock content %}
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="background-color: brown;"> 
                        {% block footer %}
                        footer
                        {% endblock footer %}
                    </div>
                </div>
            </div>

        </div>


    </div>
    
        
</body>
</html>