{% extends 'core/clear_base.html' %}

{% block content %}
    {# Title #}
    <div>
        <h1>Cookie-Erklärung</h1>
    </div>

    {# Provider #}
    <div class="mt-4">
        <h2>Information</h2>
        <p>Cookie-Dateien sind kleine Textdateien. Sie werden genutzt, um mit einer Internetseite verbundene Informationen für einige Zeit lokal auf Ihrem Computer zu speichern und dem Server auf Anfrage wieder zu übermitteln.</p>
        <p>Die meisten Internet-Browser sind so eingestellt, dass sie Cookies automatisch akzeptieren. Sie können diese Funktion jedoch in Ihrem Browser deaktivieren oder diesen so einstellen, dass Cookies mit dem Schließen des Browsers gelöscht werden. Eine Zusammenführung von Cookie-Informationen mit personenbezogenen Daten findet nicht statt.</p>
        <p>Beim Aufruf der Internetseite werden ausschließlich technisch notwendige Cookies gesetzt. Die auf dieser Seite eingesetzten Session-Cookies beinhalten keine personenbezogenen Daten und werden nach dem Absenden der Formulare oder Schließen des Browsers gelöscht.</p>
        <p>Eine Zusammenführung dieser Informationen mit personenbezogenen Daten findet nicht statt.</p>
        <p>Folgende Funktionen verwenden Cookies, um korrekt funktionieren zu können.</p>
        <h2>Cookie für Login-Funktion</h2>
        <p>Um sich für bestimmte Website-Funktionen einloggen zu können, ist es notwendig, einen Cookie zu setzen. Wenn Sie sich einloggen, wird im Cookie vermerkt, dass Sie sich erfolgreich bei der Website angemeldet haben. So müssen Sie sich nicht bei jedem Besuch einer anderen Unterseite neu anmelden. Wenn Sie sich wieder abmelden, wird der Cookie gelöscht.</p>
    </div>
{% endblock content %}
