{% extends 'core/clear_base.html' %}

{% comment %}
    For legal information visit:
    https://www.bmuv.de/themen/verbraucherschutz-im-bmuv/digitaler-verbraucherschutz/impressumspflicht
{% endcomment %}

{% block content %}
    {# Title #}
    <div>
        <h1>Impressum</h1>
    </div>

    {# Content #}
    <div class="mt-4">
        <h2>Anbieter</h2>
        <p>Die Webseite wird im Rahmen einer Projektarbeit an der Hochschule Flensburg für private Zwecke betrieben.</p>
        <ul class="list-group" style="width: fit-content">
            <li class="list-group-item">
                <address class="my-2">
                    <strong>Dimitri Dorn</strong>
                    <br>
                    <a href="mailto:dimitri.dorn2@stud.hs-flensburg.de">dimitri.dorn2@stud.hs-flensburg.de</a>
                </address>
            </li>
            <li class="list-group-item">
                <address class="my-2">
                    <strong>Julian Müller</strong>
                    <br>
                    <a href="mailto:julian.mueller@stud.hs-flensburg.de">julian.mueller@stud.hs-flensburg.de</a>
                </address>
            </li>
            <li class="list-group-item">
                <address class="my-2">
                    <strong>Nico Isheim</strong>
                    <br>
                    <a href="mailto:nico.isheim@stud.hs-flensburg.de">nico.isheim@stud.hs-flensburg.de</a>
                </address>
            </li>
            <li class="list-group-item">
                <address class="my-2">
                    <strong>Maximilian Steinberg</strong>
                    <br>
                    Dorotheenstr. 7
                    <br>
                    24939, Flensburg
                    <br>
                    <a href="mailto:maximilian.steinberg@stud.hs-flensburg.de">maximilian.steinberg@stud.hs-flensburg.de</a>
                </address>
            </li>
            <li class="list-group-item">
                <address class="my-2">
                    <strong>Michael Sievers</strong>
                    <br>
                    <a href="mailto:michael.sievers@stud.hs-flensburg.de">michael.sievers@stud.hs-flensburg.de</a>
                </address>
            </li>
        </ul>
    </div>
{% endblock content %}
