{% extends "core/clear_base.html" %}
{% load i18n %}
{% load core_tags %}
{% block title %}
    | {% trans "Login" %}
{% endblock title %}
{% block content %}
    <div class="row h-100 m-auto">
        <div class="col-sm-10 col-md-8 col-lg-5 col-xl-5 col-xxl-4 m-auto">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center">{% trans "Anmeldung" %}</h1>
                    <form action="{% url 'user_app:login' %}" method="post">
                        {% csrf_token %}
                        <div class="mt-4">
                            <label for="username" class="form-label">{% trans "Benutzername" %}</label>
                            <div class="input-group">
                                <div class="input-group-text">
                                    <i class="bi bi-person-fill"></i>
                                </div>
                                {{ form.username }}
                            </div>
                        </div>
                        <div class="mt-4">
                            <label for="password" class="form-label">{% trans "Passwort" %}</label>
                            <div class="input-group">
                                <div class="input-group-text">
                                    <i class="bi bi-key-fill"></i>
                                </div>
                                {{ form.password }}
                            </div>
                        </div>
                        {% if form.errors or form.non_field_errors %}
                            <div class="mt-4 text-danger-emphasis bg-danger-subtle d-flex rounded">
                                <div class="pe-2 bg-danger"
                                     style="border-start-start-radius: 0.375rem;
                                            border-end-start-radius: 0.375rem"></div>
                                <div class="px-3 pt-3">
                                    <strong>{% trans "Fehlgeschlagen" %}</strong>
                                    {% for field in form %}{{ field.errors }}{% endfor %}
                                    {{ form.non_field_errors }}
                                </div>
                            </div>
                        {% endif %}
                        {% trans "Anmelden" as sign_in_placeholder %}
                        <input class="btn btn-primary mt-4 w-100" type="submit" value="{{sign_in_placeholder}}">
                    </form>
                    <a href="{% url 'user_app:reset_password' %}">{% trans "Passwort vergessen?" %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
