{% extends 'core/base.html' %}
{% block content %}

<div class="card mb-3">
  <div class="position-relative">
    <img class="card-img-top" style="margin-bottom: 5%" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.redd.it%2Fkbhxfkobabf11.png&f=1&nofb=1&ipt=7138a6d0e9e4fe655b60f911ce3bf0bbd7d3492d9c7edcf53ed436e1ae2c8c7b&ipo=images" alt="Card image cap">
    <div class="card-img-overlay d-flex flex-column justify-content-end align-items-center p-0" >
      <img src="{{picture_url}}" class="rounded-circle h-50 border border-dark border-5" alt="Avatar" style="object-fit: cover;">
      
      <span>Followers: {{followers}}</span>
      {% if not is_own_profile %}
        
          {% if is_following %}
            <a href="{% url 'user_app:follow' user_name %}">Unfollow</a>
            {% comment "" %}<button class="btn btn-outline-danger mt-3">Unfollow</button>{% endcomment %}
          {% else %}
            <a href="{% url 'user_app:follow' user_name %}">Follow</a>
          {% endif %}
    
        
      {% endif %} 
    </div>
  </div>
  <div class="card-body">
    {%if is_own_profile%}
    <div class="row">
      <div class="col-7">
        <form action="{% url 'user_app:update_userprofile' user_profile_id %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="input-group">
            <label for="id_profile_pic">Profilbild ändern</label>
            <input type="file" class="form-control" id="id_profile_pic" aria-describedby="inputGroupFileAddon04" aria-label="Upload" name="profile_pic">
            <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Button</button>
          </div>
        </form>
      </div>
    </div>
    {%endif%}
    <div class="row" id="title">
      <div class="col-auto">
        <div class="fs-6 my-auto">u/Username</div>
        <div class="fs-2 fw-bold text-white">{{first_name}} {{last_name}}</div>
      </div>
    </div>
    <div class="row" id="information">
      <div class="col">
      </div>
    </div>
    <div class="row" id="bio">
      <div class="col">
      </div>
    </div>
    <div class="row" id="buttons">
      <div class="col">
      </div>
      <div class="col">
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</div>




    

{% endblock content %}
