{% extends "core/base.html" %}
{% load user_tags %}
{% load community_tags %}
{% load dashboard_tags %}
{% load core_tags %}
{% load i18n %}
{% block title %}
    | {{ profile_user.first_name }} {{ profile_user.last_name }}
{% endblock title %}
{% block content %}
    <div class="card mb-3">
        <div class="position-relative">
            <img class="card-img-top"
                 style="max-height: 25vh"
                 src="{{ profile_user.profilebanner.get_profile_banner }}"
                 alt="Card image cap" />
            <div class="card-img-overlay d-flex flex-column justify-content-end align-items-center p-0">
                <div class="h-75 mb-n4" style="z-index: 1000; position: relative">
                    <img src="{{ profile_user.userprofileinfo.get_profile_pic }}"
                         class="rounded-circle h-100 border border-dark border-5"
                         alt="Avatar" />
                    {% if is_user_profile %}
                        <div type="button"
                             class="h-100 w-100 rounded-circle profile-image-info"
                             style="position: absolute;
                                    top: 0"
                             data-bs-toggle="modal"
                             data-bs-target="#profileImageModal">
                            <div class="fs-3 d-flex h-100">
                                <i class="bi bi-camera-fill m-auto"></i>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if is_user_profile %}
                <div type="button"
                     data-bs-toggle="modal"
                     data-bs-target="#profileBannerModal"
                     class="card-img-overlay d-flex flex-column justify-content-end align-items-center p-0 profile-banner-info">
                    <div class="ms-auto mt-auto mb-2 me-2 fs-3">
                        <i class="bi bi-camera-fill mt-auto ms-auto"></i>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="card-body">
            <div class="row" id="title">
                <div class="col-auto">
                    <div class="fs-6 my-auto">u/{{ profile_user.username }}</div>
                    <div class="fs-2 fw-bold text-white">{{ profile_user.first_name }} {{ profile_user.last_name }}</div>
                </div>
            </div>
            <div class="row" id="information">
                <div class="col d-flex gap-4">
                    <div class="d-flex gap-2 btn btn-link p-0 fs-5"
                         data-bs-toggle="modal"
                         data-bs-target="#profileFollowersModal">
                        <div class="m-auto">
                            <i class="bi bi-people-fill fw-normal"></i>
                        </div>
                        <div class="fw-semibold">{{ profile_followers_list.count }}</div>
                        <div class="user-select-none fw-normal">{% trans "Follower" %}</div>
                    </div>
                    <div class="d-flex gap-2 btn btn-link p-0 fs-5"
                         data-bs-toggle="modal"
                         data-bs-target="#profileFollowingModal">
                        <div class="m-auto">
                            <i class="bi bi-person-heart fw-normal"></i>
                        </div>
                        <div class="fw-semibold">{{ profile_following_list.count }}</div>
                        <div class="user-select-none fw-normal">{% trans "Gefolgt" %}</div>
                    </div>
                </div>
            </div>
            {% if is_user_profile %}
                <div class="row mt-2" id="bio">
                    <div class="col fs-5">
                        <div class="d-flex gap-2">
                            <div class="d-flex btn btn-link p-0 fs-5"
                                 data-bs-toggle="modal"
                                 data-bs-target="#profileBiographyModal">
                                <div class="mb-auto pt-1">
                                    <i class="bi bi-blockquote-right"></i>
                                </div>
                            </div>
                            <div>
                                {% if profile_user.biography %}
                                    {{ profile_user.biography|linebreaks }}
                                {% else %}
                                    <i>{% trans "Keine Biografie gesetzt." %}</i>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2" id="newPost">
                    <div class="col-auto ms-auto">
                        <button class="btn btn-outline-primary ms-auto"
                                type="button"
                                data-bs-toggle="modal"
                                data-bs-target="#postCreateModal">{% trans "Neuer Post" %}</button>
                    </div>
                </div>
            {% else %}
                {% if profile_user.biography %}
                    <div class="row mt-2" id="bio">
                        <div class="col fs-5">
                            <div class="d-flex gap-2">
                                <div class="mb-auto pt-1">
                                    <i class="bi bi-blockquote-right"></i>
                                </div>
                                <div>{{ profile_user.biography }}</div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="row mt-2" id="buttons">
                    <div class="col-auto">
                        <a class="btn btn-outline-primary"
                           href="{% url 'messaging_app:inbox_chat' profile_user.username %}">
                            <div class="d-flex gap-2">
                                <div class="m-auto">
                                    <i class="bi bi-chat-dots-fill"></i>
                                </div>
                                <div>{% trans "Nachricht senden" %}</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-outline-primary"
                           href="{% url 'dashboard_app:watchlist' profile_user.username 'no_sort' 'n' %}">
                            <div class="d-flex gap-2">
                                <div class="m-auto">
                                    <i class="bi bi-star-fill"></i>
                                </div>
                                <div>{% trans "Watchlist ansehen" %}</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-outline-primary"
                           href="{% url 'user_app:follow' profile_user.username %}">
                            <div class="d-flex gap-2">
                                {% if is_user_following %}
                                    <div class="m-auto">
                                        <i class="bi bi-person-dash-fill"></i>
                                    </div>
                                    <div>{% trans "Entfolgen" %}</div>
                                {% else %}
                                    <div class="m-auto">
                                        <i class="bi bi-person-plus-fill"></i>
                                    </div>
                                    <div>{% trans "Folgen" %}</div>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% if not is_user_profile and not portfolio_privacy_setting == "private" and has_transactions %}
        <div class="fst-italic">{% trans "Nutzer Portfolio" %}</div>
        <div>
            {# Portfolio Chart #}
            <div class="row mt-4">
                <div class="col">
                    <div class="card">
                        <div class="card-header fs-3 fw-semibold text-white">{% trans "Kursverlauf" %}</div>
                        <div class="card-body">
                            <div id="range_selection"
                                 class="btn-group w-100 overflow-auto"
                                 role="group">
                                <a href="{% url "user_app:profile" profile_user.username 0 %}"
                                   class="btn btn-secondary border text-body">
                                    <div class="fw-semibold">{% trans "Gesamt" %}</div>
                                    <div class="fs-4 {% if line_data.button_values.all >= 0 %} text-success-emphasis {% else %} text-danger-emphasis {% endif %}"
                                         id="whole">{{ line_data.button_values.all|to_percentage }}</div>
                                </a>
                                <a href="{% url "user_app:profile" profile_user.username 0 %}"
                                   class="btn btn-secondary border text-body">
                                    <div class="fw-semibold">{% trans "Jahr" %}</div>
                                    <div class="fs-4 {% if line_data.button_values.1year >= 0 %} text-success-emphasis {% else %} text-danger-emphasis {% endif %}"
                                         id="year">{{ line_data.button_values.6month|to_percentage }}</div>
                                </a>
                                <a href="{% url "user_app:profile" profile_user.username 0 %}"
                                   class="btn btn-secondary border text-body">
                                    <div class="fw-semibold">{% trans "6 Monate" %}</div>
                                    <div class="fs-4 {% if line_data.button_values.6month >= 0 %} text-success-emphasis {% else %} text-danger-emphasis {% endif %}"
                                         id="sixmonths">{{ line_data.button_values.6month|to_percentage }}</div>
                                </a>
                                <a href="{% url "user_app:profile" profile_user.username 0 %}"
                                   class="btn btn-secondary border text-body">
                                    <div class="fw-semibold">{% trans "Monat" %}</div>
                                    <div class="fs-4 {% if line_data.button_values.1month >= 0 %} text-success-emphasis {% else %} text-danger-emphasis {% endif %}"
                                         id="month">{{ line_data.button_values.1month|to_percentage }}</div>
                                </a>
                                <a href="{% url "user_app:profile" profile_user.username 0 %}"
                                   class="btn btn-secondary border text-body">
                                    <div class="fw-semibold">{% trans "Woche" %}</div>
                                    <div class="fs-4 {% if line_data.button_values.1week >= 0 %} text-success-emphasis {% else %} text-danger-emphasis {% endif %}"
                                         id="week">{{ line_data.button_values.1week|to_percentage }}</div>
                                </a>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-9">
                                    {# Line Chart #}
                                    <div style="height:40vh">
                                        <canvas id="lineChart" style="height:100%"></canvas>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    {# Pie Chart #}
                                    <div class="d-flex flex-column justify-content-center align-items-center"
                                         style="height:40vh">
                                        <canvas id="pieChart" style="z-index: 100;"></canvas>
                                        <div class="position-absolute">
                                            <div class="text-center fw-semibold" id="pieTitle">{% trans "Gesamtwert" %}</div>
                                            <div class="text-center fs-3" id="pieValue">{{ kpi_total|to_locale_valuta }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {# Create post #}
    <div class="row mt">
        <div class="col d-flex flex-column gap-3">
            {% for post in myposts %}
                {% if not post.privacy_settings == 'private' or post.user_id == request.user.id %}
                    {% entry request.user post %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {# Charts JS-Script #}
    {% include_chart %}
    {% line_chart line_data %}
    {% pie_chart pie_data %}
    {# Modals #}
    {% if is_user_profile %}
        {% profile_image_modal request.user %}
        {% profile_banner_modal request.user %}
        {% profile_biography_modal request.user %}
        {% post_create_modal request.user %}
    {% endif %}
    {% profile_followers_modal request profile_user profile_followers_list user_following_list %}
    {% profile_following_modal request profile_user profile_following_list user_following_list %}
{% endblock content %}
