{% extends "core/base.html" %}
{% load user_tags %}
{% load community_tags %}
{% load i18n %}
{% block title %}
    | {{ profile_user.first_name }} {{ profile_user.last_name }}
{% endblock title %}
{% block content %}
    <div class="card mb-3">
        <div class="position-relative">
            <img class="card-img-top"
                 style="max-height: 25vh"
                 {% comment %}
                 src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.redd.it%2Fkbhxfkobabf11.png&f=1&nofb=1&ipt=7138a6d0e9e4fe655b60f911ce3bf0bbd7d3492d9c7edcf53ed436e1ae2c8c7b&ipo=images"
                 {% endcomment %}
                 src="{{ profile_user.userprofileinfo.get_profile_banner }}"
                 alt="Card image cap" />
            <div class="card-img-overlay d-flex flex-column justify-content-end align-items-center p-0">
                <div class="h-75 mb-n4" style="z-index: 1000; position: relative">
                    <img src="{{ profile_user.userprofileinfo.get_profile_pic }}"
                         class="rounded-circle h-100 border border-dark border-5"
                         alt="Avatar" />
                    {% if is_user_profile %}
                        <div type="button"
                             class="h-100 w-100 rounded-circle profile-image-info"
                             style="position: absolute;
                                    top: 0"
                             data-bs-toggle="modal"
                             data-bs-target="#profileImageModal">
                            <div class="fs-3 d-flex h-100">
                                <i class="bi bi-camera-fill m-auto"></i>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if is_user_profile %}
                <div type="button"
                     data-bs-toggle="modal"
                     data-bs-target="#profileBannerModal"
                     class="card-img-overlay d-flex flex-column justify-content-end align-items-center p-0 profile-banner-info">
                    <div class="ms-auto mt-auto mb-2 me-2 fs-3">
                        <i class="bi bi-camera-fill mt-auto ms-auto"></i>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="card-body">
            <div class="row" id="title">
                <div class="col-auto">
                    <div class="fs-6 my-auto">u/{{ profile_user.username }}</div>
                    <div class="fs-2 fw-bold text-white">{{ profile_user.first_name }} {{ profile_user.last_name }}</div>
                </div>
            </div>
            <div class="row" id="information">
                <div class="col d-flex gap-4">
                    <div class="d-flex gap-2 btn btn-link p-0 fs-5"
                         data-bs-toggle="modal"
                         data-bs-target="#profileFollowersModal">
                        <div class="m-auto">
                            <i class="bi bi-people-fill fw-normal"></i>
                        </div>
                        <div class="fw-semibold">{{ profile_followers_list.count }}</div>
                        <div class="user-select-none fw-normal">Follower</div>
                    </div>
                    <div class="d-flex gap-2 btn btn-link p-0 fs-5"
                         data-bs-toggle="modal"
                         data-bs-target="#profileFollowingModal">
                        <div class="m-auto">
                            <i class="bi bi-person-heart fw-normal"></i>
                        </div>
                        <div class="fw-semibold">{{ profile_following_list.count }}</div>
                        <div class="user-select-none fw-normal">Gefolgt</div>
                    </div>
                </div>
            </div>
            {% if is_user_profile %}
                <div class="row mt-2" id="bio">
                    <div class="col fs-5">
                        <div class="d-flex gap-2">
                            <div class="d-flex btn btn-link p-0 fs-5"
                                 data-bs-toggle="modal"
                                 data-bs-target="#profileBiographyModal">
                                <div class="mb-auto pt-1">
                                    <i class="bi bi-blockquote-right"></i>
                                </div>
                            </div>
                            <div>
                                {% if profile_user.userprofileinfo.biography %}
                                    {{ profile_user.userprofileinfo.biography|linebreaks }}
                                {% else %}
                                    <i>Keine Biografie gesetzt.</i>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2" id="newPost">
                    <div class="col-auto ms-auto">
                        <button class="btn btn-outline-primary ms-auto"
                                type="button"
                                data-bs-toggle="modal"
                                data-bs-target="#postCreateModal">{% trans "Neuer Post" %}</button>
                    </div>
                </div>
            {% else %}
                {% if profile_user.userprofileinfo.biography %}
                    <div class="row mt-2" id="bio">
                        <div class="col fs-5">
                            <div class="d-flex gap-2">
                                <div class="mb-auto pt-1">
                                    <i class="bi bi-blockquote-right"></i>
                                </div>
                                <div>{{ profile_user.userprofileinfo.biography }}</div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="row mt-2" id="buttons">
                    <div class="col-auto">
                        <a class="btn btn-outline-primary"
                           href="{% url 'messaging_app:inbox_chat' profile_user.username %}">
                            <div class="d-flex gap-2">
                                <div class="m-auto">
                                    <i class="bi bi-chat-dots-fill"></i>
                                </div>
                                <div>Nachricht senden</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-outline-primary"
                           href="{% url 'user_app:follow' profile_user.username %}">
                            <div class="d-flex gap-2">
                                {% if is_user_following %}
                                    <div class="m-auto">
                                        <i class="bi bi-person-dash-fill"></i>
                                    </div>
                                    <div>Entfolgen</div>
                                {% else %}
                                    <div class="m-auto">
                                        <i class="bi bi-person-plus-fill"></i>
                                    </div>
                                    <div>Folgen</div>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="fst-italic">Hier kommt das Portfolio des Nutzers (Preview als Link)</div>
    {# Create post #}
    <div class="row">
        <div class="col d-flex flex-column gap-3">
            {% for post in myposts %}
                {% entry request.user post %}
            {% endfor %}
        </div>
    </div>
    {# Modals #}
    {% if is_user_profile %}
        {% profile_image_modal request.user %}
        {% profile_banner_modal request.user %}
        {% profile_biography_modal request.user %}
        {% post_create_modal request.user %}
    {% endif %}
    {% profile_followers_modal request profile_user profile_followers_list user_following_list %}
    {% profile_following_modal request profile_user profile_following_list user_following_list %}
{% endblock content %}
