<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <!--
    <div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                      <label for="validationServer01">First name</label>
                      <input type="text" class="form-control is-valid" id="validationServer01" placeholder="First name" >
                      
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="validationServer02">Last name</label>
                      <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Last name">
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="validationServerUsername">Username</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupPrepend3">@</span>
                        </div>
                        <input type="text" class="form-control is-invalid" id="validationServerUsername" placeholder="Username" aria-describedby="inputGroupPrepend3" required>
                        <div class="invalid-feedback">
                          Please choose a username.
                        </div>
                      </div>
                    </div>
                  </div>
            </form>
        </div>
    </div>
    </div>
    -->
    

    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Fill out the from:</div>
                    <div class="card-body">
                        <form action="{% url 'user_app:register' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="{{ user_form.username.id_for_label }}">Username:</label>
                                {{ user_form.username }}
                                {% if user_form.username.errors %}
                                    {% for error in user_form.username.errors %}
                                        <small class="form-text text-danger">{{ error }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="{{ user_form.first_name.id_for_label }}">First Name:</label>
                                {{ user_form.first_name }}
                                {% if user_form.first_name.errors %}
                                    {% for error in user_form.first_name.errors %}
                                        <small class="form-text text-danger">{{ error }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="{{ user_form.last_name.id_for_label }}">Last Name:</label>
                                {{ user_form.last_name }}
                                {% if user_form.last_name.errors %}
                                    {% for error in user_form.last_name.errors %}
                                        <small class="form-text text-danger">{{ error }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="{{ user_form.email.id_for_label }}">Email:</label>
                                {{ user_form.email }}
                                {% if user_form.email.errors %}
                                    {% for error in user_form.email.errors %}
                                        <small class="form-text text-danger">{{ error }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="{{ user_form.password.id_for_label }}">Password:</label>
                                {{ user_form.password }}
                                {% if user_form.password.errors %}
                                    {% for error in user_form.password.errors %}
                                        <small class="form-text text-danger">{{ error }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="{{ user_form.password2.id_for_label }}">Confirm Password:</label>
                                {{ user_form.password2 }}
                                {% if user_form.password2.errors %}
                                    {% for error in user_form.password2.errors %}
                                        <small class="form-text text-danger">{{ error }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="{{ profile_form.profile_pic.id_for_label }}">Profile Picture:</label>
                                {{ profile_form.profile_pic }}
                                {% if profile_form.profile_pic.errors %}
                                    {% for error in profile_form.profile_pic.errors %}
                                        <small class="form-text text-danger">{{ error }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block mt-4">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> 


 <!--   
    <div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">{{ title }}</div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ user_form.username.id_for_label }}">Username:</label>
                            {{ user_form.username }}
                            {% if user_form.username.errors %}
                                {% for error in user_form.username.errors %}
                                    <small class="form-text text-danger">{{ error }}</small>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="{{ user_form.first_name.id_for_label }}">First Name:</label>
                            {{ user_form.first_name }}
                            {% if user_form.first_name.errors %}
                                {% for error in user_form.first_name.errors %}
                                    <small class="form-text text-danger">{{ error }}</small>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="{{ user_form.last_name.id_for_label }}">Last Name:</label>
                            {{ user_form.last_name }}
                            {% if user_form.last_name.errors %}
                                {% for error in user_form.last_name.errors %}
                                    <small class="form-text text-danger">{{ error }}</small>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="{{ user_form.email.id_for_label }}">Email:</label>
                            {{ user_form.email }}
                            {% if user_form.email.errors %}
                                {% for error in user_form.email.errors %}
                                    <small class="form-text text-danger">{{ error }}</small>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="{{ user_form.password.id_for_label }}">Password:</label>
                            {{ user_form.password }}
                            {% if user_form.password.errors %}
                                {% for error in user_form.password.errors %}
                                    <small class="form-text text-danger">{{ error }}</small>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="{{ user_form.password2.id_for_label }}">Confirm Password:</label>
                            {{ user_form.password2 }}
                            {% if user_form.password2.errors %}
                                {% for error in user_form.password2.errors %}
                                    <small class="form-text text-danger">{{ error }}</small>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="{{ profile_form.profile_pic.id_for_label }}">Profile Picture:</label>
                            {{ profile_form.profile_pic }}
                            {% if profile_form.profile_pic.errors %}
                                {% for error in profile_form.profile_pic.errors %}
                                    <small class="form-text text-danger">{{ error }}</small>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block mt-4">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> 
-->


    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <!--
    <div class="container">
        <div class="jumbotron">
            {% if user_form.errors %}
                <div class="alert alert-danger">
                    {% for field in user_form %}
                        {% for error in field.errors %}
                            <p>{{ field.label }}: {{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% else %}
                <h1>Register Here!</h1>
                <h2>Fill out the form:</h2>

                <form action="{% url 'user_app:register' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token  %}
                    {{ user_form.as_p }}
                    {{ profile_form.as_p }}
                    <input type="submit" value="Register">
                </form>
            {% endif %}
        </div>
    </div> 
    -->
</body>
</html>