{% extends 'core/clear_base.html' %}
{% load core_tags %}
{% block title %}| Register{% endblock title %}
{% block content %}

<div class="row h-100 m-auto">
    <div class="col-sm-10 col-md-8 col-lg-5 col-xl-5 col-xxl-4 m-auto">
        <div class="card">
            <div class="card-body">
                <div class="text-center fs-1">
                    Registrierung
                </div>
                    <form action="{% url 'user_app:register' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                        <div class="row">
                            <div class="col-12 col-md-6 mt-4">
                                <label for="{{ user_form.first_name.id_for_label }}" class="form-label">Vorname</label>
                                <div class="input-group">
                                    <div class="input-group-text"><i class="bi bi-1-circle-fill"></i></div>
                                    {{ user_form.first_name }}
                                </div>
                                {% if user_form.first_name.errors %}
                                    {% for error in user_form.first_name.errors %}
                                        <small class="form-text text-danger">{{ error }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-12 col-md-6 mt-4">
                                <label for="{{ user_form.last_name.id_for_label }}" class="form-label">Nachname</label>
                                <div class="input-group">
                                    <div class="input-group-text"><i class="bi bi-2-circle-fill"></i></div>
                                    {{ user_form.last_name }}
                                </div>
                                {% if user_form.last_name.errors %}
                                    {% for error in user_form.last_name.errors %}
                                        <small class="form-text text-danger">{{ error }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="mt-4">
                            <label for="{{ user_form.email.id_for_label }}" class="form-label">E-Mail</label>
                            <div class="input-group">
                                <div class="input-group-text"><i class="bi bi-envelope-fill"></i></div>
                                {{ user_form.email }}
                            </div>
                            {% if user_form.email.errors %}
                                {% for error in user_form.email.errors %}
                                    <small class="form-text text-danger">{{ error }}</small>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="mt-4">
                            <label for="{{ user_form.username.id_for_label }}" class="form-label">Benutzername</label>
                            <div class="input-group">
                                <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                                {{ user_form.username }}
                            </div>
                            {% if user_form.username.errors %}
                                {% for error in user_form.username.errors %}
                                    <small class="form-text text-danger">{{ error }}</small>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-6 mt-4">
                                <label for="{{ user_form.password.id_for_label }}" class="form-label">Passwort</label>
                                <div class="input-group">
                                    <div class="input-group-text"><i class="bi bi-key-fill"></i></div>
                                    {{ user_form.password }}
                                </div>
                                {% if user_form.password.errors %}
                                    {% for error in user_form.password.errors %}
                                        <small class="form-text text-danger">{{ error }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>
    
                            <div class="col-12 col-md-6 mt-4">
                                <label for="{{ user_form.password2.id_for_label }}" class="form-label">Passwort bestätigen</label>
                                <div class="input-group">
                                    <div class="input-group-text"><i class="bi bi-key-fill"></i></div>
                                    {{ user_form.password2 }}
                                </div>
                                {% if user_form.password2.errors %}
                                    {% for error in user_form.password2.errors %}
                                        <small class="form-text text-danger">{{ error }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        {% comment %} <div class="form-group">
                            <label for="{{ profile_form.profile_pic.id_for_label }}">Profile Picture:</label>
                            {{ profile_form.profile_pic }}
                            {% if profile_form.profile_pic.errors %}
                                {% for error in profile_form.profile_pic.errors %}
                                    <small class="form-text text-danger">{{ error }}</small>
                                {% endfor %}
                            {% endif %}
                        </div> {% endcomment %}

                    <input class="btn btn-primary mt-4 w-100" type="submit" value="Registrieren">
                </form>
            </div>
        </div>
    </div>
</div>





                        
                    
{% endblock content %}