<div class="modal fade"
     id="transaction_add_modal_{{id}}"
     tabindex="-1"
     aria-labelledby="transaction_add_modal_Label"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="transaction_add_modal_Label">{{asset.name}} {% trans "Transaktion hinzufügen" %}</h1>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <form action="{% url "dashboard_app:transaction_add" asset.name %}"
                  method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="modal-footer pb-0">
                    <button type="button"
                            class="btn btn-secondary me-auto"
                            data-bs-dismiss="modal">{% trans "Schließen" %}</button>
                    <button type="submit" class="btn btn-outline-primary">{% trans "Speichern" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
