{% extends 'core/base.html' %} {% block content %}


    <div style="display: flex;">
      <div style="width: 33%">
        <h3>{{ coinInfo.FullName }}</h3>
        <img style="width: 150px" src="https://www.cryptocompare.com{{coinInfo.ImageUrl}}"/>
      </div>
      <div style="width: 33%">
        <h4>Coin-Info</h4>
        <p>Name: {{coinInfo.CoinName}}</p>
        <p>Symbol: {{coinInfo.Symbol}}</p>
      </div>
      <div style="width: 33%">
        <h4>Add To Portfolio</h4>
        <form method="POST">
          {% csrf_token %}
          {{form.as_p}}
          <button type="submit">Submit</button>
        </form>
        <h3>{{ message }}</h3>
      </div>

    </div>
    <div style="width:75%;">
        <h2 style="color: rgb(112, 221, 112);">Wert Heute: {{ todaysValue }}</h2>
        <canvas id="myChart" ></canvas>
        {{ coinInfo.FullName|json_script:'FullName' }}
        {{ values|json_script:'values' }}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
    <script>
      const ctx = document.getElementById('myChart');
      var dataValues = JSON.parse(document.getElementById('values').textContent);
        var cryptoName = JSON.parse(document.getElementById('FullName').textContent);
        const labels = ["Januar", "Februar", "März", "April", "Mai", "Juni", "Juli", "August", "September", "Oktober", "November", "Dezember"]
        const data = {
                        labels: labels,
                        datasets: [{
                            label: cryptoName,
                            data: dataValues,
                            fill: false,
                            borderColor: 'rgb(75, 192, 192)',
                            tension: 0.1
                        }]
                        };
                        const config = {
                  type: 'line',
                  data: data,
                };
        new Chart(ctx, {
          type: 'line',
          data: data,
          options: {
            scales: {
                y: {
                beginAtZero: true
              }
            }
          }
        });
    </script>
{% endblock content %}