{% extends "core/base.html" %}
{% load dashboard_tags %}
{% block title %}
    | Dashboard
{% endblock title %}
{% block content %}
    <div class="row bg-body-tertiary mx-n4 mt-n4 p-4">
        <div class="col col-auto">
            <canvas id="pieChart"></canvas>
        </div>
        <div class="col">
            <div>[User]-Portfolio</div>
            <div>Key Values</div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header fs-3 fw-semibold text-white">Kursverlauf</div>
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div id="range_selection"
                             class="btn-group w-100 overflow-auto"
                             role="group">
                            <button type="submit"
                                    name="complete"
                                    class="btn btn-secondary border text-body">
                                <div class="fw-semibold">Gesamt</div>
                                <div class="fs-4 text-danger-emphasis" id="whole">-37,22%</div>
                            </button>
                            <button type="submit" name="year" class="btn btn-secondary border text-body">
                                <div class="fw-semibold">Jahr</div>
                                <div class="fs-4 text-danger-emphasis" id="year">-37,22%</div>
                            </button>
                            <button type="submit"
                                    name="sixmonths"
                                    class="btn btn-secondary border text-body">
                                <div class="fw-semibold">6 Monate</div>
                                <div class="fs-4 text-success-emphasis" id="sixmonths">+19,42%</div>
                            </button>
                            <button type="submit" name="month" class="btn btn-secondary border text-body">
                                <div class="fw-semibold">Monat</div>
                                <div class="fs-4 text-danger-emphasis" id="month">-37,22%</div>
                            </button>
                            <button type="submit" name="week" class="btn btn-secondary border text-body">
                                <div class="fw-semibold">Woche</div>
                                <div class="fs-4 text-danger-emphasis" id="week">-37,22%</div>
                            </button>
                        </div>
                    </form>
                    <div class="mt-4" style="height:40vh">
                        <canvas id="lineChart" style="height:40vh"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header fs-3 fw-semibold text-white">KPI</div>
                <div class="card-body">
                    <p id="totalWorth"></p>
                    <p id="paid"></p>
                    <p id="invested"></p>
                    <p id="tax"></p>
                    <p id="charges"></p>
                    <p id="gains"></p>
                    <p id="profit"></p>

                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header fs-3 fw-semibold text-white">Assets</div>
                <div class="card-body" id="assetsList">
                </div>
            </div>
        </div>
    </div>
    {# Chart selection #}
    {{ assetList|json_script:'assetList' }}
    {{ values|json_script:'valueList' }}
    {{ assetValues|json_script:'assetValues' }}
    {{ amounts|json_script:'amounts' }}
    {{ totalValue|json_script:'totalValue' }}
    {{ investedVal|json_script:'investedVal' }}
    {{ taxVal|json_script:'taxVal' }}
    {{ chargesVal|json_script:'chargesVal' }}
    {{ interval|json_script:'interval' }}
    {{ dateValues|json_script:'dateValues' }}
    {{ buttonValues|json_script:'buttonValues' }}
    {# Charts JS-Script #}
    {% include_chart %}
    {% line_chart "Wert" %}
    {% pie_chart %}
    {% include_kpi %}
    {% include_assets %}
{% endblock content %}
