{% extends 'core/base.html' %}
{% block content %}
    <h1>THIS IS THE DASHBOARD</h1>
    <div>
        <h2>
            {{request.user.username}} 
        </h2>
    </div>

    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Submit</button>
    </form>
    
    <h3>{{ message }}</h3>



    <div style="width:50%;display: flex">
        <canvas id="myChart" ></canvas>
        {{ crypto|json_script:'crypto' }}
        {{ value|json_script:'value' }}
        {{ assetList|json_script:'assetList' }}
        {{ values|json_script:'valueList' }}
        {{ months|json_script:'months' }}
        {{ dateValues|json_script:'dateValues' }}
        <div style="width:50%;">
          <canvas id="myChart2" ></canvas>
          <canvas id="myChart3" ></canvas>
        </div>
      </div>

    
      </form>
      <h3>{{ message }}</h3>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      const ctx = document.getElementById('myChart');
      const ctx2 = document.getElementById('myChart2');
      const ctx3 = document.getElementById('myChart3');
      var dataValues = JSON.parse(document.getElementById('value').textContent);
      var cryptoName = JSON.parse(document.getElementById('crypto').textContent);
      var assetList = JSON.parse(document.getElementById('assetList').textContent);
      var valueList = JSON.parse(document.getElementById('valueList').textContent);
      var months = JSON.parse(document.getElementById('months').textContent);
      var dateValues = JSON.parse(document.getElementById('dateValues').textContent);


      console.log(assetList)
      console.log(valueList)
      const labels = months
        const data = {
                        labels: labels,
                        datasets: [{
                            label: 'Portfoliowert',
                            data: dateValues,
                            fill: false,
                            borderColor: 'rgb(75, 192, 192)',
                            tension: 0.1
                        }]
                        };
                        const config = {
                  type: 'line',
                  data: data,
                };
        new Chart(ctx, {
          type: 'line',
          data: data,
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });

          const data2 = {
            labels: assetList,
            datasets: [{
              label: 'My First Dataset',
              data: valueList,
              backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)'
              ],
              hoverOffset: 4
            }]
          };

        new Chart(ctx3, {
          type: 'pie',
          data: data2,
        })
    </script>

    {% endblock content %}