{% extends "core/base.html" %}
{% load dashboard_tags %}
{% load i18n %}
{% load core_tags %}
{% block title %}
    | Watchlist
{% endblock title %}
{% block content %}
    {% if not watchlist %}
        <div class="row h-100">
            <div class="col text-center h-100 d-flex">
                <div class="m-auto">
                    <div class="text-white fw-bold fs-3">Sie haben noch keine Assets Ihrer Watchlist hinzugefügt.</div>
                    <div class="text-white fs-5">Um ein Asset Ihrer Watchlist hinzuzufügen, suchen Sie nach einem Asset in der Suche und drücken Sie auf den Stern.</div>
                    <div class="text-white fs-6">
                        <a href="{% url "core:qaa" %}">Weitere Informationen findest du hier.</a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header fs-3 fw-semibold text-white">Watchlist</div>
                    <div class="card-body">
                        {% load core_tags %}
                        <div class="overflow-auto">
                            <table class="table table-striped table-dark">
                                <thead>
                                    <tr>
                                      <th scope="col" class="text-center">Image</th>
                                      <th scope="col" class="text-center">Symbol</th>
                                      <th scope="col" class="text-center">Name</th>
                                      <th scope="col" class="text-center">Preis Heute</th>
                                      <th scope="col" class="text-center">Preis vor X Tagen</th>
                                      <th scope="col" class="text-center">Differenz in %</th>
                                      <th scope="col" class="text-center">price_change</th>
                                      <th scope="col" class="text-center">Hinzugefügt am</th>
                                      <th scope="col" class="text-center">Watchlist</th>
                                      <th scope="col" class="text-center">Portfolio</th>
                                      <th scope="col" class="text-center">Transactions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for asset in watchlist %}
                                      {% include_watchlist_asset asset %}
                                    {% comment %} MODAL {% endcomment %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock content %}