<div class="modal fade"
     id="postCreateModal"
     tabindex="-1"
     aria-labelledby="postCreateModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="postCreateModalLabel">Post erstellen</h1>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'community_app:post_create' %}" method="post" enctype='multipart/form-data'>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="Submit" name="comment" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary ms-auto" data-bs-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>
