{% load i18n %}
<div class="modal fade"
     id="postCreateModal"
     tabindex="-1"
     aria-labelledby="postCreateModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="postCreateModalLabel">{% trans "Post erstellen" %}</h1>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'community_app:post_create' %}" method="post" enctype='multipart/form-data'>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <img src="" id="preview_Upload_Image" style="width:300px; height:300px;"/>
                    <button type="Submit" name="comment">{% trans 'Post Erstellen' %}</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary ms-auto" data-bs-dismiss="modal">{% trans "Schließen" %}</button>
            </div>
        </div>
    </div>
</div>
<script>
    image_To_Upload = document.getElementById("image_To_Upload")
    preview_Upload_Image = document.getElementById("preview_Upload_Image")
    preview_Upload_Image.hidden = true
    image_To_Upload.onchange = e => {
        let [file] = image_To_Upload.files
        if (file) {
            preview_Upload_Image.hidden = false
            preview_Upload_Image.src = URL.createObjectURL(file)
        }
    }
</script>
